on:
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]
    
defaults:
  run:
    working-directory: codebase/rdicidr-0.1.0
    
jobs:
  build:
    name: deploy to staging
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6-beta
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '15.14.0'
          
      - name: Install dependencies
        run: npm ci
        
      - name: Lint
        run: npm run lint

      - name: Test (Jest)
        run: npm test
        env:
          CI: true

      - name: Build
        run: npm run build
    
   
